.output_canvas {
  // max-width: 60%;
  max-height: 90vh;
  max-width: 90vw;
  transform: scaleX(-1);
  margin: 10px;
  object-fit: unset;
}

#canvas-container {
  position: relative;
  display: none;
}

#inputVideoElement {
  display: none;
}
