// .foreground_output_canvas,
// .background_output_canvas
// {
//   display: none;
// }

.output_canvas {
  max-width: 60%;
  transform: scaleX(-1);
  margin: 10px;
  aspect-ratio: 3/2;
  object-fit: unset;
}

#canvas-container {
  position: relative;
}

#inputVideoElement {
  display: none;
}

// #outputVideoElement {
//   display: none;

//   max-width: 60%;
//   transform: scaleX(-1);
//   margin: 10px;
//   aspect-ratio: 1024/720;
//   object-fit: unset;
// }