.foreground_output_canvas,
.background_output_canvas {
  max-width: 45%;
  transform: scaleX(-1);
  margin: 10px;
  aspect-ratio: 1024/720;
  position: absolute;
  top: 0;
  left: 0;
}

.background_output_canvas {
  filter: blur(4px);
}


#canvas-container {
  position: relative;
}

#inputVideoElement {
  display: none;
}